body {
  font-family: 'Poppin', sans-serif;
}
.first {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  position: absolut !important;
  box-shadow: 0 0 10px 5px #b1b0b0;
  max-width: 830px;
  max-height: 70rem;
}
img {
  max-height: 500px;
}
.image {
  margin-top: 30px;
  margin-left: -40px;
  scale: 0.80;
}
@media(max-width: 1970px) {
  img {
      max-width: 500px;
  }
}
@media(max-width: 1480px) {

  .logo-asiste-horizontal,
  .logo-sena-verde {
      scale: 0.80;
  }

  .image {
      scale: 0.5;
  }
}
@media(max-width: 960px) {

  .logo-asiste-horizontal
  .logo-sena-verde {
      height: 4rem;
  }

  .footer {
      font-size: 15px !important;
  }

  .texto {
      font-size: 15px !important;
  }

  .card {
      min-width: 20rem;
  }

  .image {
      margin-left: -90px;
  }

}
@media(max-width: 740px) {
  .image {
      margin-top: -100px;
      margin-left: -90px;
  }

  .card {
      width: 340px !important;
      margin-top: -100px;
  }
}
.logos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px !important;
  margin-bottom: 0%;
}
.logo-sena-verde {
  max-height: 5rem !important;
}
.logo-asiste-horizontal {
  max-height: 5rem !important;
}
.texto {
  font-size: 20px;
  margin-top: 3em;
  color: darkgray;
  margin-bottom: 20px;
}
input {
  margin-bottom: 20px !important;
}
label {
  margin-top: -5px !important;
}
input,
label,
select {
  height: 50px !important;
  color: darkgray !important;
  border-radius: 10px !important;
  width: 20rem !important;
}


.registrer {
  background-color: #139CFFFF !important;
  border-color: #139CFFFF !important;
}
input:focus,
label:focus,
select:focus {
  border-color: #39A900 !important;
  box-shadow: none !important;
}
.footer {
  width: auto;
  font-size: 20px;
  margin-top: 250px;
  margin-bottom: 20px;
  background-color: #39A900;
  color: white;
  padding: 20px 0;
  text-align: center;
}
.footer p {
  margin: 0;
}
a {
  font-size: 12px !important;
  color: darkgray !important;
  text-decoration: none !important;
}
.text1 {
  display: flex;
  justify-content: flex-start;
}
.text2 {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.input-group{
  margin-left: 2rem;

}
.registro{
  margin-left: 12rem;
  background-color: #39A900 !important;
  color: white !important;
  border-color: none;
  width: 8rem !important;
  font-size: 1.1rem !important;

}
.registro:hover{
background-color:#011526 !important;
}
a{
font-size: 1rem !important;
}
a:hover{
color: blue !important;
}
.muñeco{
width: 20rem;
display: block;
margin-left: 50px
}

h3{
  text-align: center;
  color:#47A62D !important;

}